<mat-card>
    <mat-card-title>{{ customer.firstName }} {{ customer.middleName }} {{ customer.lastName }}</mat-card-title>
    <mat-card-subtitle>Customer ID: {{customer.id }}</mat-card-subtitle>
    <p>Phone: {{ customer.phoneNumber }}</p>
    <p>Email: {{ customer.emailAddress }}</p>
    <app-pet-list [pets]="customer.pets"></app-pet-list>
</mat-card>
