<app-customer-view-presenter [customer]="customer"></app-customer-view-presenter>
<a mat-raised-button color="primary" routerLink="../">Back</a>
<a mat-raised-button color="primary" routerLink="./edit">Edit</a>
<button mat-raised-button color="warn" (click)=onDelete()>Delete</button>